<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722670496745-ca30hn333h0kan0d2pe196pl040q6b7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722670496745-ca30hn333h0kan0d2pe196pl040q6b7a</string>
	<key>API_KEY</key>
	<string>AIzaSyAtic52zZIeTDsg0Nzx0pdNnjqAHAw2BW0</string>
	<key>GCM_SENDER_ID</key>
	<string>722670496745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kannan.Receipes</string>
	<key>PROJECT_ID</key>
	<string>receipe-6d31e</string>
	<key>STORAGE_BUCKET</key>
	<string>receipe-6d31e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722670496745:ios:3d1802cd8cad00ce027978</string>
	<key>DATABASE_URL</key>
	<string>https://receipe-6d31e.firebaseio.com</string>
</dict>
</plist>