<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67983673460-r3s8vpcobre4i84p4q1k2m5tiakf546l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67983673460-r3s8vpcobre4i84p4q1k2m5tiakf546l</string>
	<key>API_KEY</key>
	<string>AIzaSyDREPHGUfM9wu15odEZKBthtyBKpd7-GNA</string>
	<key>GCM_SENDER_ID</key>
	<string>67983673460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kannan.Receipes</string>
	<key>PROJECT_ID</key>
	<string>receipes-a8034</string>
	<key>STORAGE_BUCKET</key>
	<string>receipes-a8034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67983673460:ios:e8348fe2bebc3962316921</string>
	<key>DATABASE_URL</key>
	<string>https://receipes-a8034.firebaseio.com</string>
</dict>
</plist>